body {
	margin: 0;
	background-color: #333;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
}

.container {
	position: relative;
	width: 320px;
	margin: 300px auto 0 auto;
	perspective: 1000px;
}

.carousel {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	animation: rotate360 60s infinite forwards linear;
}

.image {
	position: absolute;
	width: 300px;
	height: 187px;
	top: 20px;
	left: 10px;
	right: 10px;
	border-radius: 25px;
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
	display: flex;
}

span {
	margin: auto;
	font-size: 30px;
}

@keyframes rotate360 {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(-360deg);
	}
}

.image:nth-child(1) {
	background-image: url('../img/avenue-815297_640.jpeg');
	transform: rotateY(0deg) translateZ(430px);
}
.image:nth-child(2) {
	background-image: url('../img/mountains-190055_640.jpeg');
	transform: rotateY(40deg) translateZ(430px);
}
.image:nth-child(3) {
	background-image: url('../img/road-1072823_640.jpeg');
	transform: rotateY(80deg) translateZ(430px);
}
.image:nth-child(4) {
	background-image: url('../img/road-220058_640.jpeg');
	transform: rotateY(120deg) translateZ(430px);
}
.image:nth-child(5) {
	background-image: url('../img/sea-164989_640.jpeg');
	transform: rotateY(160deg) translateZ(430px);
}
.image:nth-child(6) {
	background-image: url('../img/sunset-473604_640.jpeg');
	transform: rotateY(200deg) translateZ(430px);
}
.image:nth-child(7) {
	background-image: url('../img/tree-736885_640.jpeg');
	transform: rotateY(240deg) translateZ(430px);
}
.image:nth-child(8) {
	background-image: url('../img/wolf-647528_640.jpeg');
	transform: rotateY(280deg) translateZ(430px);
}
.image:nth-child(9) {
	background-image: url('../img/woman-570883_640.jpeg');
	transform: rotateY(320deg) translateZ(430px);
}



